@using FirstBlazorApp.Data;
@using FirstBlazorApp.Components.Layout;
@page "/shoppinglist"
@layout ShoppingListLayout
@rendermode InteractiveServer

<h3>ShoppingList</h3>
<PageTitle>@title</PageTitle>

<EditForm Model="@grocery" OnSubmit="AddGrocery">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>
            Name:
            <InputText @bind-Value="@grocery.Name" />
        </label>
    </p>
    <p>
        <label>
            Price:
            <InputNumber @bind-Value="@grocery.Price" />
        </label>
    </p>
    <button type="submit" class="btn btn-primary">Add Grocery Item</button>
</EditForm>

<table class="table table-sm">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var grocery in groceries)
        {
            <Item GroceryItem="@grocery" OnGroceryPriceIncreased="OnGroceryPriceIncreased" />
        }
    </tbody>
</table>

<h1> Grocery Total (@sum)</h1>


@code {
    private string title = "Shopping List";
    private string? groceryName;
    private decimal groceryPrice;
    private decimal sum = 0;
    private Grocery grocery = new();
    private List<Grocery> groceries = new();


    private void AddGrocery()
    {
       
        {
            groceries.Add(grocery);
            grocery = new();
        }
       
        UpdateTotal();
    }

    public void UpdateTotal()
    {
        sum = groceries.Sum(g => g.Price);
    }

    private void OnGroceryPriceIncreased(MouseEventArgs e)
    {
        UpdateTotal();
    }
}